<form class="form-group">
    <fieldset class="form-group">
        <label for="name">Name: <input type="text" name="name" class="form-control" id="name" placeholder="Full Name"></label>
        <label for="email">Email Address: <input type="email" name="email" class="form-control" id="email" placeholder="Email address"></label>

    </fieldset>
    <fieldset class="form-group">
        <label for="message">Message:
            <textarea class="form-control" id="message" name="message" rows="10" placeholder="Type your message here"></textarea>
        </label>
    </fieldset>
    <fieldset class="form-group center-block text-right">

        <input class="btn btn-danger" type="reset" value="reset">
        <input class="btn btn-lg btn-success" type="submit"  value="Submit">
    </fieldset>
</form>