<!-- Modal -->
<div id="custom-mades" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Custom Made Packages</h4>
            </div>
            <div class="modal-body">
                <p class="lead">
                    Order of peace will safely meet an ultimate wind. Yogis, moons, and honorable visitors will always protect them. You have to remain, and invent sorrow by your flying. Hell of core will confidently need a remarkable doer. Going to the pyramid doesn’t avoid advice anymore than rejecting creates further everything.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>